services:
  vcr-proxy:
    build: .
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      VCR_MODE: spy
    volumes:
      - ./cassettes:/app/cassettes
      - ./vcr-proxy.yaml:/app/vcr-proxy.yaml:ro
